<table>
    <thead>
        <tr>
            <th>#</th>
            <th>اسم المتدرب</th>
            <th>رقم المتدرب</th>
            <th>التخصص</th>
            <th>تاريخ التسجيل</th>
            <th>الإجراءات</th>
        </tr>
    </thead>
    <div class="primaryColor btn loading" *ngIf="isLoading"><app-loading-image></app-loading-image></div>
    <tbody>
        <tr>
            <td>1</td>
            <td>خالد اللصمادي حسين عبدالله عمر</td>
            <td>120200612056</td>
            <td>softwe ssss</td>
            <td>18/10/2024</td>
            <td>18/10/2024</td>
        </tr>
    </tbody>
</table>

<!-- @if(isEditModalOpen)
{
<div class="model">
    <app-edit-dialog
        [patient]="selectedPatient"
        (save)="saveUpdatedPatient($event)"
        (close)="closeEditModal()">
    </app-edit-dialog>
</div>

} -->