.table-title{
    display: inline-flex;
}
.table-title h2{
    white-space: nowrap;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    font-size: 24px;  
}
hr{
    display: flex;
    width: 80%;
    border: 1px solid #AEDDDC;
    border-radius: 3px;
    align-self: center;
    justify-self: center;
}
.btn {
    width: 80%; /* Set the button width less than 100% */
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensures the button behaves like a block element */
}

#tNum{
    width: 65%;
}
input[type="date"]{
    width: 60%;
    field-sizing: content;
    padding: 8px;
    background-color: #F0F0F0;
    border: 1px solid #4D95A7;
    border-radius: 10px;
    outline: none;
    font-size: 18px; 
}
input[type="text"]{
    width: 30%;
    field-sizing: content;
    padding: 8px;
    background-color: #F0F0F0;
    border: 1px solid #4D95A7;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}
.search-btn {
    padding: 5px 15px;
}
/* Input box styling */
.input-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    margin-right: 5px;
}

.header-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

