<div class="backdrop" (click)="closeDialog()"></div>
<div class="dialog-box modal-content">
    <div class="modal-title">
        <h2 class="text-type">{{patient.name}}</h2>
    </div>
    <div class="content whiteColor">
        <form>
            <div class="Box-grid">
                <div id="medicalConditionList">
                    <label for="search" class="text-type">المرض:</label>
                    <app-multi-select-dropdown
                        placeHolder="مرض"
                        [options]="['Australia', 'Bermuda', 'Canada', 'Denmark', 'France']">
                    </app-multi-select-dropdown>
                </div>
                <div id="treatmentList">
                    <label for="search" class="text-type">العلاج:</label>
                    <app-multi-select-dropdown
                        placeHolder="علاج"
                        [options]="['Australia', 'Bermuda', 'Canada', 'Denmark', 'France']">
                    </app-multi-select-dropdown>
                </div>
            </div>
            <div class="footer-btn">
                <button
                    type="button"
                    class="btn closeColor"
                    (click)="closeDialog()">
                    اغلاق
                </button>
            </div>
        </form>
    </div>
</div>
